div{
  border: 1px solid black;
}
.App {
  width: 95%;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul li{
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}